RewriteEngine On

RewriteCond %{HTTP_HOST} ^shop\.skimostats\.com [NC]
RewriteRule ^(.*)$ /shop/$1 [L,QSA]

RewriteCond %{HTTP_HOST} ^(?:www\.)?skimostats\.com [NC]
RewriteRule ^(.*)$ public/$1 [L]


# RewriteCond %{REQUEST_FILENAME} -d [OR]
# RewriteCond %{REQUEST_FILENAME} -f
# RewriteRule ^ ^$1 [N]

# RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
# RewriteRule ^(.*)$ public/$1

# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^ server.php
