body {
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    height: 100vh;
    margin-right: 10px;
}

nav a {
    padding: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    font-weight: bold;
    background-color: lightgrey;
    border-bottom: 2px solid grey;
}

label, input, textarea {
    display: block;
}

input, textarea {
    width: 100%;
}

label:nth-child(2) {
    margin-top: 15px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: coral;}
