// Body
$body-bg: #f8fafc;

// Typography
$font-family-default: 'Open Sans', sans-serif;
$font-family-heading: 'Barlow Condensed', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #15174a;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #fce000;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
$black: #000;

// Dimensions
$topbar-mobile-height: 60px;
